html{
    text-align:center;
}

h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.firstbox {
    width:200px;
    height:300px;
    background-color: red;
    border: 2px solid rgb(1, 1, 12)

}
.secondbox {
    width:200px;
    height:300px;
    background-color: rgb(42, 15, 119);
    border: 2px dashed rgb(255, 230, 0);
    margin-left: 50px;
    margin-right: 50px;
    
}

.thirdbox {
    width:200px;
    height:300px;
    background-color: rgb(4, 129, 25);
    border: 2px solid rgb(216, 25, 73)
}

h4 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: blue
    }


.change2 {
    text-align: center;
    background: lightgray;
    padding: 5px 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
    display: inline-block
}

.change3 {
    text-align:center;
    background:lightgray;
    padding: 5px 5px;
    margin-right: 5px;
    margin-left: 10px;
    width: 100%;
   display: inline-block;
}
.noLeftP{
    text-align:center;
    background:lightgray;
    padding: 5px 5px;
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
   display: inline-block;
}
.noRightP{
    text-align:center;
    background:lightgray;
    padding: 5px 5px;
    margin-right: 10px;
    margin-left: 25px;
    width: 100%;
   display: inline-block;
}

h6 { 
    text-align: center;
    color:blue;
    margin-top: 50px;
    margin-bottom: 50px;
}

.midbutton{
    text-align: center;
    background: lightgray;
    padding: 5px 0px;
    margin-right: 20px;
    margin-left:5px;
    width: 100%;
    display: inline-block
}

.midbutton2{
    text-align:center;
    background:lightgray;
    padding: 5px 0px;
    margin-right: 15px;
    margin-left: 10px;
    width: 100%;
   display: inline-block;
}

.midbuttonleft{
    text-align:center;
    background:lightgray;
    padding: 5px 5px;
    margin-right: 25px;
    margin-left: 10px;
    width: 100%;
   display: inline-block;
}

.midbuttonright{
    text-align:center;
    background:lightgray;
    padding: 5px 5px;
    margin-right: 8px;
    margin-left: 5px;
    width: 100%;
   display: inline-block;
}


.resetb{
    text-align:center;
    background: lightgray;
    padding: 5px 5px;
    margin-top: 50px;
    margin-right: 0px;
    width: 100%;
    display: inline-block;
}

.lastmidb{
    padding: 5px 10px;
    margin-right: 5px;
    width: 100%;
   display: inline-block;
}

.showallb{
    text-align:center;
    background: lightgray;
    padding: 5px 10px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    display: inline-block;
}

.newfirstbox{
    background:orange;
    border: 4px dotted green;
}

.newsecondbox{
    background:white;
    border: 4px dotted red;
}

.newthirdbox{
    background: violet;
    border: 4px brown;
}

.changeallbox{
    background: black;
    border: 6px dashed gold;
}
