h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.firstbox {
    width:200px;
    height:200px;
    background-color: red;
    border: 2px solid rgb(1, 1, 12)

}
.secondbox {
    width:200px;
    height:200px;
    background-color: rgb(42, 15, 119);
    border: 2px dashed rgb(255, 230, 0);
    margin-left: 50px;
    margin-right: 50px;
    
}

.thirdbox {
    width:200px;
    height:200px;
    background-color: rgb(4, 129, 25);
    border: 2px solid rgb(216, 25, 73)
}

h4 {
    color:blue;
     text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;
    }
.changeHeader{
    color: blue
}

.buttonSet1 {
    width: 10px;
    height:5px;
    color: rgb(103, 107, 103);
    margin-inline: 10px;
}

h6 { 
    text-align: center;
    color:blue;
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttonSet2 {
    width: 10ppx;
    height:5px;
    color: rgb(103, 107, 103);
    margin:after 10px;
    margin:top 40px;
}
.buttonSet3 {
    width: 10ppx;
    height:5px;
    color: rgb(103, 107, 103);
    margin:after 10px;
}

.row bu {
    align-self: right;
}

.showAll{
    margin-left: 600px;
}